html h1, html h2, html h3, html h4, html h5, html h6, html p {
  color: #000000; }

@media screen and (min-width: 992px) {
  body .scrolled-down {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out; }
  body .scrolled-up {
    transform: translateY(0);
    transition: all 0.3s ease-in-out; }
  #main_content {
    background-color: lime; }
  #side_content {
    background-color: #ff0800; }
  footer {
    margin-top: 60px; }
    footer div {
      height: 250px;
      display: block;
      background-color: #59ca59;
      width: 96%;
      align-items: center;
      bottom: 0; }
    footer #foot div div {
      padding-top: 20px;
      padding-left: 30px; } }
