$bg-col:#59ca59;
$txt-colo:#000000;
$main-bg-col:#7b788d;
html{
    h1,h2,h3,h4,h5,h6, p{
        color:$txt-colo;
    }
}
@media screen and (min-width:992px) {
    body{


        .scrolled-down{
            transform:translateY(-100%); transition: all 0.3s ease-in-out;
          }
          .scrolled-up{
            transform:translateY(0); transition: all 0.3s ease-in-out;
          }
    }
    
    #main_content{
        background-color: lime;
    }
    #side_content{
        background-color:rgb(255, 8, 0);
    }
    footer{
        margin-top: 60px;
        div{
            height: 250px;
            display: block;
            background-color:$bg-col;
            width: 96%;
            align-items: center;
            bottom: 0;
        }
        #foot{
            div div{
                padding-top: 20px;
                padding-left: 30px;
            }
        }
    }
}