$bg-col:#59ca59;
$txt-colo:#000000;
$main-bg-col:#d1cde9;
html{
    h1,h2,h3,h4,h5,h6, p{
        color:$txt-colo;
    }
}
    
.navbar{
    margin-bottom: 30px;
}
.body_content{
    margin-left: auto;
    margin-right: auto;
}
#main_content{
    background-color: lime;
    margin-right: 1%;
}
#side_content{
    background-color:rgb(255, 8, 0);
}
footer{
    margin-top: 60px;
    div{
        height: 250px;
        display: block;
        background-color:$bg-col;
        width: 96%;
        align-items: center;
        bottom: 0;
    }
    #foot.container{
        width: 98vw;
        max-width: 98vw;
        div div{
            padding-top: 20px;
            padding-left: 30px;
        }
        ul {
            margin-top: 30px;
            
            li {
            margin-bottom: 10px;
            }
        }
        #PrivAndCook{  
            p{
                margin-top:20px;
            }
        }
    }
}

body{
    .scrolled-down{
        transform:translateY(-100%); transition: all 0.3s ease-in-out;
      }
      .scrolled-up{
        transform:translateY(0); transition: all 0.3s ease-in-out;
      }
}

.navbar_content{
    margin-left: 1%;
    margin-right:2%;
}

//phone 320px starting 

@media screen and(min-width:175px) and (max-width:575px) {
    html{
        h1{font-size: 16px;}
        h2{font-size: 15px;}
        h3{font-size: 15px;}
        h4{font-size: 15px;}
        h5{font-size: 14px;}
        h6{font-size: 13px;}
        p{font-size: 12px;}
        li{font-size: 12px;}
    }
    .body_content{
        margin-left: 2%;
    }
    #main_content{
        margin-right: 0%;
    }
    footer{
        #foot{
            width: 98%;
            height:450px;
            ul{
                margin-top: 0;
            }
            iframe{
                height:80%;
                width: 100%;
            }
            .contacts{
                height:140px;
            }
            #PrivAndCook{
                height: 30px;
                
            }
        }
    }
}
@media screen and(min-width:576px) and (max-width:767px) {
    
.navbar_content{
    margin-left: 6%;
    margin-right:3%;
}
#main_content{
    margin-right: 2%;
}
#foot {
    min-height: 350px;
        iframe{
        height:80%;
        width: 100%;
        }
        ul{
        margin-top:5px;
        }
        .contacts{
            margin-bottom: 30px;
        }
        #PrivAndCook{
            height: 60px;
            
        }}
}

//tablets

@media screen and(min-width:768px) and (max-width:991px) {
     
.navbar_content{
    margin-left: 10%;
    margin-right:3%;
}
    .navbar{
        margin-bottom: 30px;
    }
     
#main_content{
    background-color: lime;
    margin-right: 3%;
}
#foot {
    min-height: 300px;
        iframe{
        height:80%;
        width: 100%;    
        }
        ul{
            margin-top:5px;
        }
        #PrivAndCook{
            height: 30px;
        }}  
}

//computer & tablets

@media screen and (min-width:992px){
    .navbar{
        margin-bottom: 45px;
    }
    #main_content{
        margin-right: 8%;
    }
    #PrivAndCook p{
        margin-top: 120px !important;
        padding-left: 60px;
    }
}
@media screen and (min-width:992px) and (max-width:1199px) {
    

    .navbar_content{
        margin-left: 4%;
        margin-right:8%;
    } 
    #foot.container{
        height:300px;
            iframe{
                height:100%;
                width: 80%;
            }
    }
}
@media screen and (min-width:1200px){
    .navbar_content{
        margin-left: 5%;
        margin-right:11%;
    }
    
    #foot.container{
        height:350px;
            iframe{
                height:125%;
            }
    }
}